<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .mynav_navbar {
            overflow: hidden;
            background-color: transparent;
            font-family: Arial, Helvetica, sans-serif;
        }



            .mynav_navbar a {
                float: left;
                font-size: 16px;
                color: grey;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }



        .mynav_dropdown {
            float: left;
            overflow: inherit;
        }



            .mynav_dropdown .mynav_dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }



            .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
                background-color: dimgray;
            }



        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }



            .mynav_dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }



                .mynav_dropdown-content a:hover {
                    background-color: #ddd;
                }



        .mynav_dropdown:hover .mynav_dropdown-content {
            display: block;
        }

        .glyphicon {
            color: white;
        }
    </style>
</head>
<body>

                <nav class="navbar navbar-inverse navbar-fixed-top">

                    <div class="container">

                        <div class="navbar-header">

                            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"> Home</a>
                            <a asp-area="" asp-controller="Vocabulary" asp-action="Index" class="navbar-brand">Vocabulary </a>
                            <a asp-area="" asp-controller="Vocabulary" asp-action="Favoritelist" class="navbar-brand">Saved Flashcards</a>
                            <a asp-area="" asp-controller="Quiz" asp-action="Index" class="navbar-brand">Quiz me</a>
                        </div>



                        <div class="mynav_dropdown">

                            <button class="mynav_dropbtn">

                              All Flashcards

                                <i class="fa fa-caret-down"></i>

                            </button>

                            <div class="mynav_dropdown-content">


                                <a asp-area="" asp-controller="Vocabulary" asp-action="GetJavaScript"> JavaScript cards</a>
                                <a asp-area="" asp-controller="Vocabulary" asp-action="GetCSharp"> C#.Net cards</a>
                                <a asp-area="" asp-controller="Vocabulary" asp-action="GetGeneralVocabulary"> General cards</a>

                            </div>

                        </div>

                        <partial name="_LoginPartial" />
                    </div>
                       
               

                </nav>


                <partial name="_CookieConsentPartial" />

                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; 2018 - Flashcode</p>
                    </footer>
                </div>

                <environment include="Development">
                    <script src="~/lib/jquery/dist/jquery.js"></script>
                    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                    <script src="~/js/site.js" asp-append-version="true"></script>
                </environment>
                <environment exclude="Development">
                    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                            asp-fallback-test="window.jQuery"
                            crossorigin="anonymous"
                            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
                    </script>
                    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                            crossorigin="anonymous"
                            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                    </script>
                    <script src="~/js/site.min.js" asp-append-version="true"></script>
                </environment>

                @RenderSection("Scripts", required: false)
</body>
</html>
