@model IEnumerable<ProgrammingVocabulary.Models.Vocabulary>

@{
    ViewData["Title"] = "GetJavaScript";
}

<h2>JavaScript Flashcards</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@



    @foreach (var item in Model)
    {


        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>
                        @Html.DisplayFor(modelItem => item.Word)
                    </h1>
                </div>
                <div class="flip-card-back">

                    <p>
                        @Html.DisplayFor(modelItem => item.Definition)

                    </p>

                    <p>
                        @Html.DisplayFor(modelItem => item.Link)
                    </p>

                    <p>
                        @Html.DisplayFor(modelItem => item.Language)
                    </p>
                </div>
            </div>
        </div>
    }
   
