@model IEnumerable<ProgrammingVocabulary.Models.Vocabulary>

@{
    ViewData["Title"] = "GetUsers";
}

<h2>GetUsers</h2>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
           
           
        </tr>
      
}
    </tbody>
</table>
